{% extends 'lib/base.html' %}
{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="container">
    {% csrf_token %}
    <select name="user" id="user" class="form-control">
    </select>
    <div name="lists" id="lists" class="row">
    </div>
</div>
<script src="{% static '/js/home.js' %}"></script>
{% else %}
<div class="container">
    <h1>¡En Construcción!</h1>
    <p>Estamos trabajando en mejorar la plataforma. Vuelve pronto para ver las novedades.</p>
</div>
{% endif %}


{% endblock %}