{% extends 'lib/base.html' %}
{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="container">
    
    <!--
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Tablero: {{ board.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <form id="cambiarTableroForm" method="post" action="{% url 'home' %}">
                {% csrf_token %}
                <input type="hidden" name="tablero" id="id_tablero" value="">
            </form>
            {% for board in boards %}
            <a class="dropdown-item" href="#">{{ board.name }}</a>
            {% endfor %}
        </div>
    </div>-->

    <form method="post" action="{% url 'home' %}" id="cambiar-board-form" style="display: none;">
        {% csrf_token %}
        <input type="hidden" name="board" id="id_board" value="">
    </form>

    <select name="user" id="user" class="form-control">
        <option> {{ board.name }} </option>
        {% for board in boards %}
        <option>{{ board.name }}</option>
        {% endfor %}
      </select>


    <div class="row">
        {% for list in lists %}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ list.name }}</h4>
                    <p class="card-text">321 </p>
                    <a href="#" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="container">
    <h1>¡En Construcción!</h1>
    <p>Estamos trabajando en mejorar la plataforma. Vuelve pronto para ver las novedades.</p>
</div>
{% endif %}

<script>  
    $('select[name="user"]').on('change', function () {
        console.log("Holiiii")
        console.log($(this).val())
        document.getElementById('id_board').value = $(this).val();
        document.getElementById('cambiar-board-form').submit();
    });
</script>

{% endblock %}